#title {
    text-align: center;
}
#title .name{
    color: blue;
    font-size: 80px;
}
#title .des{
    color: lightcoral;
    font-size: 40px;
}
#scoreboard{
    text-align: center;
}
#scoreboard p{
    font-size: 25px;
}
#scoreboard .player-score{
    float: left;
    border: 10px solid white;
}
#scoreboard .computer-score{
    float: right;
    border: 10px solid white;

}


body{
    text-align: center;
    justify-content: center;
    background-color: lightseagreen;
}

#buttons .rock{
    height: 10px;
    width: 5px;
}

input{
    height: 300px;
    width: 300px;
}
input:hover {
    transform: scale(1.1);
    
}

.instructions{
    color:white;
    font-weight: bold;
}
